* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}
body{
    background-color: #000000;
}

#string{
    width: 100%;
    height: 500px;
}

